* {
	box-sizing: border-box;
}

:root {
	--buttonColor: #ff1fb0;
}


.circle {
	--c1: #f2c4e2;
	--c2: #d97eb9;
	--size: max(5rem, 9vw);
	--delay: 0s;
	position: absolute;
	top: 0;
	left: 0;
	width: var(--size);
	height: var(--size);
	border-radius: 50%;
	background: radial-gradient(circle at 20% 70%, var(--c1), var(--c2));
	pointer-events: none;
	animation: var(--animation, drift) 12s var(--delay) linear infinite alternate;
	animation-play-state: var(--playState, paused);
}

@media (prefers-reduced-motion: no-preference) {
	body {
		--playState: running;
	}
}

.allow-motion .button__toggle {
	background-color: #ffffff;
}

.allow-motion .button__toggle::after {
	transform: translate3d(100%, 0, 0) scale(1.2);
	background-color: var(--buttonColor);
}

/* Circle animations */
.circle:nth-child(2) {
	--c1: #194aa6;
	--c2: #194aa6;
	--size: max(3rem, 10vw);
	--delay: 1s;
	top: 50%;
	left: 25%;
}

.circle:nth-child(3) {
	--c1: #194aa6;
	--c2: #194aa6;
	--size: max(3rem, 10vw);
	--delay: 3s;
	top: 30%;
	left: 50%;
}

.circle:nth-child(4) {
	--c1: #a0e3f2;
	--c2: #2fa7c2;
	--animation: drift2;
	--delay: 5s;
	top: 70%;
	left: 20%;
}

.circle:nth-child(5) {
	--animation: drift2;
	--delay: 4s;
	top: 60%;
	left: 70%;
}

.circle:nth-child(6) {
	--c1: #a0e3f2;
	--c2: #2fa7c2;
	--delay: 7s;
	top: 15%;
	left: 80%;
}


@keyframes drift {
	50% {
		transform: translate3d(50%, 50%, 0);
	}
	100% {
		transform: translate3d(0, 100%, 0);
	}
}

@keyframes drift2 {
	50% {
		transform: translate3d(-50%, -50%, 0);
	}
	100% {
		transform: translate3d(0, -100%, 0);
	}
}